In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv('../data/current.csv')
df = df.drop(columns=['skaterFullName', 'teamAbbrevs', 'vs', 'shoots', 'row', 'date']) 
df = df.dropna()
df['avgPowerplayToi'] = df['avgPowerplayToi'].apply(lambda x: datetime.strptime(str(x), "%M:%S").second + datetime.strptime(str(x), "%M:%S").minute * 60)
df['position'].replace(['C', 'R', 'L', 'D'], [3, 2, 2, 1], inplace=True)
df.head()

,ppPoints,gamesPlayed,position,ppUnit,avgPowerplayToi,team_PEN/GP,team_PP%,team_PK%,team_G,team_GA,enemy_PEN/GP,enemy_PP%,enemy_PK%,enemy_G,enemy_GA,scored
0,0,9,2,2.0,99,4.5,15.6,97.4,31.0,16.0,4.73,28.6,83.3,40,33,0
1,0,10,1,1.0,118,4.5,15.6,97.4,31.0,16.0,4.73,28.6,83.3,40,33,1
2,3,10,2,2.0,218,4.5,15.6,97.4,31.0,16.0,4.73,28.6,83.3,40,33,0
3,4,10,2,1.0,226,4.5,15.6,97.4,31.0,16.0,4.73,28.6,83.3,40,33,1
4,0,10,3,2.0,67,4.5,15.6,97.4,31.0,16.0,4.73,28.6,83.3,40,33,1

In [3]:
# # Increase the amount of data
# for i in range(0, 1):
#     df = pd.concat([df, df])

# df.shape

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

features = ['ppPoints', 'gamesPlayed', 'avgPowerplayToi', 'team_PEN/GP', 'team_PP%', 'team_PK%', 'team_GA', 'team_G', 'enemy_PEN/GP', 'enemy_PP%', 'enemy_PK%', 'enemy_GA', 'enemy_G']
label = ['scored']

X_train, X_test, y_train, y_test = train_test_split(df[features], df[label], test_size=0.2, random_state=42, shuffle=True)

In [5]:
model = DecisionTreeClassifier(random_state=4)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

acc = accuracy_score(y_test, y_pred)
print(f'Accuracy: {acc}%')

Accuracy: 0.8045977011494253%

In [7]:
player = [{
    'skaterFullName': 'Connor Bedard',
    'ppPoints': 1,
    'teamAbbrevs': 'CHI',
    'gamesPlayed': 11,
    'shoots': 'R',
    'position': 'C',
    'ppUnit': 1,
    'vs': 'TB',
    'avgPowerplayToi': '2:45',
    'row': 0,
    'team_PEN/GP': 4.27,
    'team_pp%': 10.5,
    'team_pk%': 83.3,
    'team_goals': 26,
    'team_ga': 38,
    'enemy_pen/gp': 4.08,
    'enemy_pp%': 34.1,
    'enemy_pk%': 87.2,
    'enemy_goals': 50,
    'enemy_ga': 45,
    'scored': 1
}]

df = pd.DataFrame(player)
df = df.drop(columns=['skaterFullName', 'teamAbbrevs', 'vs', 'shoots', 'row']) 
df = df.dropna()
df['avgPowerplayToi'] = df['avgPowerplayToi'].apply(lambda x: datetime.strptime(str(x), "%M:%S").second + datetime.strptime(str(x), "%M:%S").minute * 60)
df['position'].replace(['C', 'R', 'L', 'D'], [3, 2, 2, 1], inplace=True)
df.head()

,ppPoints,gamesPlayed,position,ppUnit,avgPowerplayToi,team_PEN/GP,team_pp%,team_pk%,team_goals,team_ga,enemy_pen/gp,enemy_pp%,enemy_pk%,enemy_goals,enemy_ga,scored
0,1,11,3,1,165,4.27,10.5,83.3,26,38,4.08,34.1,87.2,50,45,1